<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Summy-grammy text</title>

  <!-- CSS  -->
  <link href="{{url_for('static', filename='css/custom.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{url_for('static', filename='css/materialize.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <style>
    textarea {
      height: 250px;
    }
  </style>
  </head>
<body><div class="navbar-fixed">
   <nav class="MediumAquaMarine" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Summy-grammy text</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{url_for('index')}}">Summarizer</a></li>
        <li><a href="{{url_for('compare_summary')}}">Grammar check</a></li>
      </ul>

      
    </div>
  </nav>
</div>
	<ul id="nav-mobile" class="sidenav">
        <li><a href="{{url_for('index')}}">Summarizer</a></li>
        <li><a href="{{url_for('compare_summary')}}">Grammar check</a></li>
      </ul>

<!-- Start of Main Section -->
 <div class="container">
    <div class="section">
       
      <!--   Icon Section   -->
      <div class="row">
        <div class="input-field col s12 m10">
          <div class="icon-block">
            <h3>Summarizer</h3>
           <form method="POST" action="/analyze">
         <textarea name="rawtext" cols="3" rows="5" class="form-control" required="true" placeholder="Enter Text Here"></textarea>
         
        <div>From 0 to 100, percentage of summarization of the text</div>
        <label for="percentage" style="margin-right: 10px;">Percentage</label>
        <input type="text" name="percentage" style="width: 100px; text-align: center;" value="50">%
          
         <br/>
         <button class="btn btn-small waves-effect waves-light light-blue lighten-1" type="reset">Clear</button>
          <button class="btn btn-small waves-effect waves-light purple lighten-1" type="submit">Summarize</button>
          
        </form>
          </div>
        </div>

      </div>
        </form>
          </div>
        </div>

      </div>

    </div>
  </div>
  <!-- End -->

  <!-- Result Display-->
  <section class="section section-solutions-about darken-2">
 <div class="container white-text">
 
      <!--   Icon Section   -->
      <div class="row">
        <h5>Language text: <span style="text-decoration: underline;">{{ text_language }}</span> </h5>
        <div class="col s12 m6">
          <div class="icon-block">
            <h5 class="center">Your Text</h5>
            <p class="light">{{ctext}}</p>
            <div class="alert alert-info" role="alert"><br/>
             
        </div>
          </div>
        </div>

        <div class="col s12 m6 darken-3">
          <div class="icon-block">
            <h5 class="center">Summarized</h5>
              <div class="" role="alert">
        </div>
            <p class="light">{{ final_summary }}</p>
          
          </div>
        </div>

      </div>

  
  </div>
</section>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{url_for('static', filename='js/materialize.js')}}"></script>
  <script src="{{url_for('static', filename='js/init.js')}}"></script>
<!-- Jesse JCharis -->
  </body>
</html>
